@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.register-heading {
    font-size: 24px !important;
}

.login-button {
    font-size: 14px;
    font-weight: 600;
    color: rgba(115, 208, 255, 0.9);
    text-decoration: none;
}

.login-button:hover {
    color: rgba(115, 243, 255, 0.9);
}

.login-button:active{
    color: rgba(115, 243, 255, 0.7);
}

.signup-button {
    font-size: 14px;
    font-weight: 600;
    color: rgba(115, 208, 255, 0.9);
    text-decoration: none;
}

.signup-button:hover {
    color: rgba(115, 243, 255, 0.9);
}

.signup-button:active{
    color: rgba(115, 243, 255, 0.7);
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.welcome-heading {
    font-size: 28px !important;
}

.project-heading {
    font-size: 22px !important;
}

.image {
    background: url('/static/images/add_project.png');
    background-size: cover;
    width: 60px; 
    height: 60px;
}

.reset-button {
    background: url('/static/images/reset.png');
    background-size: cover;
    animation: fadeIn 1.5s;
    transition: background 0.2s ease;
}

.reset-button:hover {
    background: url('/static/images/reset_hover.png');
    background-size: cover;
}

.add-project {
    background: url('/static/images/plus.png');
    background-size: cover;
    width: 40px; 
    height: 40px;
    animation: fadeIn 1.5s;
    transition: background 0.3s ease;
}

.add-project:hover {
    background: url('/static/images/plus_hover.png');
    background-size: cover;
}

.alert-success {
    color: rgb(90, 255, 167);
}

.alert-error {
    color: rgb(255, 90, 90);
}

.bordered-div {
    border: 2px solid rgb(99,102,241);
}

.white-bordered-div {
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.white-bordered-div:hover {
    border: 2px solid rgba(99,102,241, 0.8);
}

.white-bordered-div:hover h2 {
    opacity: 1;
}

.low-opacity {
    opacity: 0.75;
}

.hidden-div {
    display: none;
}

body {
    background-color: black;
}

input:-webkit-autofill {
    -webkit-text-fill-color: rgb(210, 210, 210) !important;
    -webkit-box-shadow: 0 0 0 30px black inset !important;
    transition: background-color 5000s ease-in-out 0s; /* Optional: To prevent autofill from resetting the background color */
}