{% extends 'main.html' %} 

{% load static %}

{% block content %}

<head>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="/static/css/styles.css" rel="stylesheet">
</head>
  <body>
    <div class="container px-5 py-24 pt-40 mx-auto flex flex-wrap items-center">
      <div class="lg:w-2/6 md:w-1/2 bg-black rounded-lg p-8 flex flex-col md:ml-auto md:mr-auto w-full mt-10 md:mt-0">
          <h1 class="text-center text-gray-100 text-lg font-medium title-font mb-5 welcome-heading">Welcome, {{request.user.username}}</h1>
          <br><br>
          {% for project in projects %}
            {% if project.manager.username == request.user.username %}
              <div>
                <h4>
                  <hr/>
                  <a href="{% url 'base:project' project.projID %}"> {{project.projName}} </a>
                </h4>
              </div>
            {% endif %}
          {% endfor %}
          {% if not projects or not is_manager %}
            <div class="image mx-auto my-auto mb-3"></div>
            <h2 class="text-center text-gray-100 text-lg font-medium title-font mb-1">No Projects</h2>
            <h3 class="text-center text-gray-600 text-lg font-medium title-font mb-10">Get Started by Creating a New Project.</h3>
            <button type="button" onclick="handleClick()">
              <img class="add_project mx-auto my-auto" src="/static/images/plus.png" alt="Add Project" onmouseover="this.src='/static/images/plus_hover.png';" onmouseout="this.src='/static/images/plus.png';" />
            </button>
          {% endif %}
      </img>
    </div>

    <script>
      function handleClick() {
        window.location.href = "{% url 'base:new_Project' %}";
      }
    </script>
  </body>

<!-- <div>
  <h2>Welcome, {{request.user.username}}</h2>

  <form method="GET" action="{% url 'base:home' %}">
      <input type="text" name="q" placeholder="Search Projects ...">
  </form>

  <a href="{% url 'base:home' %}">Reset</a>
  <br>
  <br>
  <a href="{% url 'base:new_Project' %}">New Project</a>

</div> -->

{% endblock %}
