<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Project</title>
  </head>
  <body>
    <h1>Simple Project Management</h1>
    <h3>Manage Project: {{ project.projName }}</h3>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      
      <button onclick="toggleResourceForm()">Manage Resources</button>
      <br><br>
      <div id="resourceForm" style="display: none;">
        {{ form.resourceForm.as_p }}
        <button type="submit" onclick="toggleResourceForm()">Update Resources</button>
        <br><br>
      </div>
      
      <button onclick="toggleFinanceForm()">Manage Finances</button>
      <br><br>
      <div id="financeForm" style="display: none;">
        {{ form.financeForm.as_p }}
        <button type="submit" onclick="toggleFinanceForm()">Update Finances</button>
        <br><br>
      </div>
      <br><br>

      <button type="submit">Save changes</button>
    </form>

    <!--TODO SOME JAVASCRIPT FOR INTERACTIVITY-->

    <script>
      function toggleResourceForm() {
        var resource_Form = document.getElementById('resourceForm');
        if (resource_Form.style.display === 'none') {
          resource_Form.style.display = 'block';
        } else {
          resource_Form.style.display = 'none';
        }
      }
    </script>

    <script>
      function toggleFinanceForm() {
        var financeForm = document.getElementById('financeForm');
        if (financeForm.style.display === 'none') {
          financeForm.style.display = 'block';
        } else {
          financeForm.style.display = 'none';
        }
      }
    </script>

  </body>
</html>
